<form name="our_teamForm" role="form" class="form-horizontal" novalidate>
	<h4>
		{{vm.header}}
	</h4>
	<hr/>
	<a
			class="btn btn-default"
			ui-sref="our_team"
	>
		<span class="fa fa-backward"></span>
		Back
	</a>
	<button type="submit" class="btn btn-info" data-ng-click="vm.save();">
		<i class="fa fa-save"></i>
		Save
	</button>
	<hr/>
	<div class="col-sm-7">

		<div class="form-group" ng-class="{ 'has-error': our_teamForm.name.$invalid && our_teamForm.$submitted }">
			<label class="col-md-2 control-label">
				Full Name
				<span class="required">* </span>
			</label>
			<div class="col-md-10">
				<input type="text"
					   ng-model="vm.our_team.name"
					   class="form-control"
					   required
					   name="name"
					   placeholder="Full Name"
					   required />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">
				Gender
				<span class="required">* </span>
			</label>
			<div class="col-md-10">
				<select class="bs-select form-control"
						name="gender"
						required
						data-ng-model="vm.our_team.gender"
						data-ng-options="gender for gender in ['Male', 'Female']">
				</select>
			</div>
		</div>

		<div class="form-group" ng-class="{ 'has-error': our_teamForm.email.$invalid && our_teamForm.$submitted }">
			<label class="control-label col-md-2">
				Email
				<span class="required">* </span>
			</label>
			<div class="col-md-10">
				<input type="email"
					   data-ng-model="vm.our_team.email"
					   name="email"
					   required
					   class="form-control"
					   placeholder="Email" />
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': our_teamForm.telephone.$invalid && our_teamForm.$submitted }">
			<label class="control-label col-md-2">
				Telephone
				<span class="required">* </span>
			</label>
			<div class="col-md-10">
				<input type="text"
					   data-ng-model="vm.our_team.telephone"
					   name="telephone"
					   required
					   class="form-control"
					   placeholder="Telephone" />
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': our_teamForm.address.$invalid && our_teamForm.$submitted }">
			<label class="control-label col-md-2">
				Address
				<span class="required">* </span>
			</label>
			<div class="col-md-10">
				<textarea data-ng-model="vm.our_team.address"
						  name="address"
						  required
						  class="form-control" rows="5"
						  placeholder="address"></textarea>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': our_teamForm.summary.$invalid && our_teamForm.$submitted }">
			<label class="control-label col-md-2">
				Summary
				<span class="required">* </span>
			</label>
			<div class="col-md-10">
				<textarea data-ng-model="vm.our_team.summary"
					   name="summary"
					   required
					   rows="10"
					   class="form-control"
						  ui-tinymce="tinymceOptions"
					   placeholder="Summary our_team"></textarea>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<input
			type="file"
			ng-model="vm.picFile"
			name="file"
			accept="image/*"
			ngf-max-size="2MB"
			ngf-model-invalid="errorFiles"
			ngf-select="vm.uploadPic(vm.picFile)"
		>
		<i>
			Recommend image size should: 300px(width) x 450px(height)
		</i>
		<i ng-show="our_teamForm.file.$error.maxSize" class="error">
			File too large {{errorFiles[0].size / 1000000|number:1}}MB: max 2M
		</i>
		<div>
			<img
				data-ng-if="!vm.our_team.photo"
				class="img-thumbnail"
				src="../images/icon-person.png"
				width="300px"
			/>
			<img
				data-ng-if="vm.our_team.photo"
				class="img-thumbnail"
				width="300px"
				src="../images/{{vm.our_team.photo}}"
			/>
			<div ng-show="vm.picFile.progress >= 0">
				<div class="progress-bar progress-bar-striped"
					 data-ng-class="{'active': vm.picFile.progress != 100}"
					 aria-valuenow="vm.picFile.progress"
					 aria-valuemin="0"
					 aria-valuemax="100"
					 style="width:{{vm.picFile.progress}}%"
				>
					{{vm.picFile.progress}}%
				</div>
			</div>
			<span class="progress" ng-show="vm.picFile.progress >= 0">
				<div
					style="width:{{picFile.progress}}%"
					ng-bind="vm.picFile.progress + '%'"
				>
				</div>
			</span>
			<span ng-show="vm.picFile.result">Upload Successful</span>
			<span class="err" ng-show="vm.errorMsg">{{vm.errorMsg}}</span>
		</div>
	</div>
	<div class="clearfix"></div>
	<hr/>
	<a
		class="btn btn-default"
		ui-sref="our_team"
	>
		<span class="fa fa-backward"></span>
		Back
	</a>
	<button type="submit" class="btn btn-info" data-ng-click="vm.save();">
		<i class="fa fa-save"></i>
		Save
	</button>
</form>




