<!-- layout for agency user recruiter -->
<div class="panel-body" data-ng-if="vm.account.user_type == 'agency'">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Logo</label>
                <div class="center">
                    <img src="images/logo-icon.png"
                         data-ng-if="!vm.account.photo"
                         style="width: 100%;margin-bottom: 10px;"
                         class="img-thumbnail">
                    <img src="images/{{vm.account.photo}}"
                         data-ng-if="vm.account.photo"
                         style="width: 100%;margin-bottom: 10px;"
                         class="img-thumbnail">
                </div>
            </div><!-- /.form-group-->
        </div><!-- /.col-* -->

        <div class="col-sm-8 row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Company Name:</label>
                    <div data-ng-bind="vm.account.company_name ? vm.account.company_name : 'N/A'"></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Email Address:</label>
                    <div data-ng-bind="vm.account.customers_email_address"
                    ></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Website:</label>
                    <div data-ng-bind="vm.account.customers_website ? vm.account.customers_website : 'N/A'"
                    ></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Telephone:</label>
                    <div data-ng-bind="vm.account.customers_telephone ? vm.account.customers_telephone : 'N/A'"
                    ></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Address:</label>
					<div data-ng-bind-html="vm.account.customers_address ? vm.account.customers_address : 'N/A'"
                    ></div>
                </div><!-- /.form-group -->
            </div>
        </div><!-- /.col-* -->
    </div><!-- /.row -->
    <h3 class="page-header">About Company Information</h3>
    <div data-ng-bind-html="vm.account.detail ? vm.account.detail : 'N/A'">
    </div>
    <!-- /.row -->
    <hr>
    <a class="btn btn-default" ui-sref="/account/edit">
        <i class="fa fa-edit"></i>
        Modify
    </a>
    <a class="btn btn-info" href="account_password.php">
        <i class="fa fa-key"></i>
        Change Password
    </a>
</div>

<!-- layout for normal user job looking -->
<div class="panel-body" data-ng-if="vm.account.user_type == 'normal'">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Photo</label>
                <div class="center">
                    <img src="images/icon-person.png"
                         data-ng-if="!vm.account.photo"
                         style="width: 100%;margin-bottom: 10px;"
                         class="img-thumbnail img-circle">
                    <img src="images/{{vm.account.photo}}"
                         data-ng-if="vm.account.photo"
                         style="width: 100%;margin-bottom: 10px;"
                         class="img-thumbnail">
                </div>
            </div><!-- /.form-group-->
        </div><!-- /.col-* -->

        <div class="col-sm-8 row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Full Name:</label>
                    <div data-ng-bind="vm.account.company_name"></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Email Address:</label>
                    <div data-ng-bind="vm.account.customers_email_address"
                    ></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>DOB:</label>
                    <div data-ng-bind="vm.account.customers_website"
                    ></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Gender:</label>
                    <div data-ng-bind="vm.account.sex"
                    ></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Position Skill:</label>
                    <div data-ng-bind="vm.account.skill_title"
                    ></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Interest Skill:</label>
                    <div data-ng-bind="vm.account.interest_skill"
                    ></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>DOB:</label>
                    <div data-ng-bind="vm.account.customers_website"
                    ></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Telephone:</label>
                    <div data-ng-bind="vm.account.customers_telephone"
                    ></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Address:</label>
                    <div data-ng-bind-html="vm.account.customers_address"
                    ></div>
                </div><!-- /.form-group -->
            </div>
        </div><!-- /.col-* -->
    </div><!-- /.row -->
    <h3 class="page-header">About Company Information</h3>
    <div data-ng-bind-html="vm.account.detail">
    </div>
    <!-- /.row -->
    <hr>
    <a class="btn btn-default" ui-sref="/account/edit">
        <i class="fa fa-edit"></i>
        Modify
    </a>
    <a class="btn btn-info" href="account_password.php">
        <i class="fa fa-key"></i>
        Change Password
    </a>
</div>
