<form data-ng-submit="save();" name="myForm">
    <h4>
        Product Information
    </h4>
    <div class="row">
        <div class="col-md-5">
            <label>
                Category:
            </label>
            <select
                data-ng-model="categories_id"
                data-ng-options="c.categories_id as c.detail[0].categories_name for c in categoryList.elements"
                class="form-control"
                required
            >
                <option value="">--Select Category--</option>
            </select>
            <label>
                Title:
            </label>
            <input
                type="text"
                class="form-control"
                data-ng-model="title_en"
                required
            />
            <label>
                Price:
            </label>
            <input type="number" class="form-control" step="any" min="0" required data-ng-model="price"/>
            <label>
                Day:
            </label>
            <input type="number" class="form-control" step="any" min="0" required data-ng-model="day"/>
            <label>
                Person:
            </label>
            <input type="number" class="form-control" step="any" min="0" required data-ng-model="person"/>
            <label>
                Image:
            </label>
            <input
                type="file"
                ng-model="picFile"
                name="file"
                accept="image/*"
                ngf-max-size="2MB"
                ngf-model-invalid="errorFiles"
                ngf-select="uploadPic(picFile, 'feature_image')"
                class="form-control"
            >
            <i ng-show="myForm.file.$error.maxSize">
                File too large {{errorFiles[0].size / 1000000|number:1}}MB: max 2M
            </i>
            <img
                ng-show="image"
                class="thumb"
                src="../images/{{image_thumbnail}}"
            >
            <span class="progress" ng-show="picFile.progress >= 0">
                <div
                    style="width:{{picFile.progress}}%"
                    ng-bind="picFile.progress + '%'"
                >
                </div>
            </span>
            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
        <div class="col-md-7">
            <div class="col-md-12">
                <div class="col-md-12">
                    <label>
                        Description:
                    </label>
                <textarea
                        class="form-control"
                        data-ng-model="content_en"
                        ui-tinymce="tinymceOptions"
                        rows="15"
                ></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <a
            class="btn btn-default"
            href="javascript:;"
            onclick="location.href='#/product';"
        >
            <i class="fa fa-close"></i>
            Close
        </a>
        <button
            class="btn btn-primary"
            data-ng-disabled="!disabled"
        >
            <i class="fa fa-save" data-ng-show="disabled"></i>
            <i class="fa fa-refresh fa-spin" data-ng-hide="disabled"></i>
            Save
        </button>
    </div>
</form>